# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
*.swp

# Env
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
venv/
.venv/

# Node
node_modules/
dist/

# Django
db.sqlite3
staticfiles/
media/
